.splash-container {
  height: 100vh;
  width: 100vw;
  background: hsl(0, 0%, 2%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 42px;
  font-weight: 800;
  color: white;
}

.tagline {
  font-size: 16px;
  font-weight: 300;
  margin-top: 8px;
  color: white;
}
