<ion-content fullscreen class="partner-v4">

  <!-- HEADER -->
  <div class="header-area">
    <div class="">
      <img class="logo-wrap" src="assets/ChatGPT Image Jan 22, 2026, 05_10_29 PM.png">
    </div>
    <h1>Welcome Partner</h1>
    <p>Login to start your journey</p>
  </div>

  <!-- FORM -->
  <div class="form-wrapper">

    <div class="field-box">
      <label>Phone Number</label>
      <input
        type="tel"
        maxlength="10"
        placeholder="Enter phone number"
        [(ngModel)]="phoneNumber" />
    </div>

    <div class="field-box">
      <label>Password</label>
      <input
        type="password"
        placeholder="Enter password"
        [(ngModel)]="password" />
    </div>

    <!-- same button class -->
    <ion-button expand="block" class="login-btn"
      (click)="login()"
      [disabled]="isLoading || phoneNumber.length !== 10 || password.length === 0">

      @if (!isLoading) {
        LOGIN
      } @else {
        <ion-spinner name="crescent"></ion-spinner>
      }
    </ion-button>

    <p class="alt">ALTERNATIVE LOGIN</p>

  </div>

  <!-- FOOTER -->
  <div class="footer">
    By logging in, you agree to our<br>
    <span>Terms & Privacy Policy</span>
  </div>

</ion-content>
