.swiggy-content {
  --background: #ffffff;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Top image */
.top-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-image img {
  width: 100%;
  max-height: 260px;
  object-fit: contain;
}

/* Login area */
.login-section {
  padding: 24px;
  padding-bottom: env(safe-area-inset-bottom);
}

.header h1 {
  font-size: 28px;
  font-weight: 700;
}

.header p {
  color: #7e808c;
  margin-bottom: 24px;
  font-size: 14px;
}

.input-box {
  margin-bottom: 16px;
}

ion-item {
  --background: #f5f5f5;
  --border-radius: 8px;
}



.terms {
  font-size: 12px;
  color: #7e808c;
  margin-top: 16px;
}

.terms span {
  color: black;
}

input {
  background: transparent;
  border: none;
    width: -webkit-fill-available;
    &:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
}