.history-content {
  --background: #f8fafc;
}

.history-summary {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  padding: 14px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.summary-item {
  width: 33%;
  text-align: center;
}

.pickup-dot {
  width: 10px;
  height: 10px;
  min-width: 10px;
  background-color: #22c55e;
  border-radius: 50%;
}

.drop-dot {
  width: 10px;
  height: 10px;
  min-width: 10px;
  background-color: #ef4444;
  border-radius: 50%;
}

